.life-content {
  .heading {
    margin-bottom: 2rem;
  }

    .photo {
      margin: 5px;
      position: relative;
      border: none;
      background-color: unset;
      .desc {
        background-color: #0000006f;
        color: white;
        position: absolute;
        bottom: 0;
        padding: 5px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
      }
      &:hover .desc, &:focus .desc {
        visibility: visible;
        opacity: 1;
      }
    }
  
}

.outreach-content {
  .heading {
    margin-bottom: 2rem;
  }
  .ministry {
    margin-bottom: 2rem;
  }
}

#imageDialog {
  border: none;
  &::backdrop {
    background-color: #0000006f;
  }
  & .dialogPhoto {
    width: 50vw;
    max-height: 80vh;
    .image, .desc {
      margin-bottom: 10px;
    }
  }
  #close {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 6px;
    border: 1px solid black;
  }
}
