.life-content {
  .heading {
    margin-bottom: 2rem;
  }

    .photo {
      margin: 5px;
      position: relative;
      .desc {
        background-color: #0000006f;
        color: white;
        position: absolute;
        bottom: 0;
        padding: 5px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
      }
      &:hover .desc {
        visibility: visible;
        opacity: 1;
      }
    }
  
}

.outreach-content {
  .heading {
    margin-bottom: 2rem;
  }
  .ministry {
    margin-bottom: 2rem;
  }
}
