/* Box sizing rules */
*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Remove default padding */
ul[class], ol[class] { padding: 0; }

/* Remove default margin */
body, h1, h2, h3, h4, p, ul[class], ol[class], figure, blockquote, dl, dd { margin: 0; }

/* Set core body defaults */
body { min-height: 100vh; scroll-behavior: smooth; text-rendering: optimizeSpeed; line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] { list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) { text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img { max-width: 100%; display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * { margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select { font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) { -webkit-filter: blur(10px); filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) { * { -webkit-animation-duration: 0.01ms !important; animation-duration: 0.01ms !important; -webkit-animation-iteration-count: 1 !important; animation-iteration-count: 1 !important; -webkit-transition-duration: 0.01ms !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; } }

body { font-family: arial, sans-serif; color: #544531; background-color: #fffbf4; }

a { color: #544531; }

#root { margin-left: auto; margin-right: auto; }

@media (min-width: 768px) { #root { width: 750px; } }

@media (min-width: 992px) { #root { width: 970px; } }

@media (min-width: 1200px) { #root { width: 1170px; } }

.content { margin-top: 0; }

@media screen and (max-width: 768px) { .content { margin-left: 10px; margin-right: 10px; } }

header { padding-top: 50px; padding-bottom: 30px; }

.branding { text-decoration: none; color: #544531; }

.branding img { width: 100px; height: 100px; margin: 10px auto; }

.branding h1 { text-align: center; text-transform: uppercase; font-weight: 500; font-size: 28px; }

.branding p { text-align: center; text-transform: uppercase; margin-bottom: 10px; }

.main-navigation { padding: 20px 0; border-top: 1px solid #e5e5e5; }

.menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

.menu .menu-item a { padding: 20px 0; text-transform: uppercase; border-bottom: 1px solid #e5e5e5; text-decoration: none; color: #544531; font-weight: 500; font-size: 18px; }

.menu .menu-item a:hover, .menu .menu-item a.active { border-bottom-color: #112118; border-width: 2px; }

.menu .icon { display: none; }

@media screen and (max-width: 768px) { .menu .menu-item { display: none; }
  .menu .icon { float: right; display: block; }
  .menu.responsive { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .menu.responsive .menu-item { display: block; margin: 5px; padding: 0; min-width: 50vw; text-align: center; }
  .menu.responsive .menu-item a { width: 100%; padding: 5px; } }

footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; background-color: #544531; color: #fffbf4; padding: 15px; }

footer a { color: #fffbf4; }

footer .contact small::after { content: "|"; padding: 0 5px; }

@media screen and (max-width: 768px) { footer { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  footer .contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  footer .contact small::after { content: ""; padding: 0 5px; } }

h2 { margin-bottom: 15px; text-transform: uppercase; font-weight: 500; }

.info-block { display: inline-block; margin-bottom: 15px; }

.info-block.images { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.info-block.images img { height: 100px; }

.home-content { margin-top: 30px; display: -ms-grid; display: grid; -ms-grid-columns: 2fr 1fr; grid-template-columns: 2fr 1fr; }

@media screen and (max-width: 768px) { .home-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.table-striped tr:nth-of-type(odd) { background-color: #f9f9f9; }

.table-striped td { padding: 8px; border-top: 1px solid #ddd; }

@media screen and (max-width: 768px) { .table-striped { width: 100%; } }

.img-circle { border-radius: 100%; }

.flip-layout .info-block { display: -ms-grid; display: grid; -ms-grid-columns: 2fr 1fr; grid-template-columns: 2fr 1fr; }

.flip-layout .info-block *:only-child { -ms-grid-column: 1; -ms-grid-column-span: 2; grid-column: 1/3; }

.flip-layout .info-block:nth-of-type(even) { -ms-grid-columns: 1fr 2fr; grid-template-columns: 1fr 2fr; }

.flip-layout .info-block:nth-of-type(even) *:nth-child(2):not(:only-child) { -ms-grid-column: 1; -ms-grid-column-span: 1; grid-column: 1 / 2; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1/2; }

.flip-layout .info-block:nth-of-type(even) *:nth-child(1):not(:only-child) { -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2 / 3; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1/2; }

.flip-layout img { max-height: 250px; max-width: 250px; width: auto; }

.calendar-container { position: relative; padding-bottom: 75%; height: 0; overflow: hidden; }

.calendar-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media screen and (max-width: 768px) { .about-content .info-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; }
  .about-content .info-block img { width: 50vw; height: 50vw; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; margin-bottom: 15px; } }

.contact-content { display: -ms-grid; display: grid; -ms-grid-columns: 2fr 1fr; grid-template-columns: 2fr 1fr; -webkit-column-gap: 15px; column-gap: 15px; }

.contact-content .map-container { position: relative; padding-bottom: 75%; height: 0; overflow: hidden; }

.contact-content .map-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.contact-content .sidebar div { margin-bottom: 15px; }

@media screen and (max-width: 768px) { .contact-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .contact-content .sidebar { margin-top: 15px; } }

.admin-banner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 20px 10px; background: yellow; }

.admin-content form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.admin-content form label, .admin-content form input, .admin-content form textarea { margin-bottom: 10px; }
/*# sourceMappingURL=main.css.map */